.contact{
    background-color: map-get($colors,purple);
    height: auto;
    padding-top: 7.5rem;
    padding-bottom: 10rem;
    &__title{
        text-align: center;
        font-family: map-get($typography,futura);
        color: map-get($colors,white);
        font-size: 8rem;
        @include media (tab-port){
            text-align: left;
            font-size: 5rem;
        }
    }
    &__span{
        font-family: map-get($typography,merriweather);
        font-style: italic;
        font-size: 7rem;
        @include media (tab-port){
            font-size: 4rem;
        }
    }
}
