.btn{
    background: map-get($colors,red);
	font-size: 1.8rem;
	padding: 0 1rem;
	line-height: 5rem;
	border: 0;
	letter-spacing: 1px;
	border-radius: 5px;
	font-family: map-get($typography,proxima-nova);
	outline: 0;
	text-transform: uppercase;
	display: inline-block;
	&--submit{
		color: map-get($colors,white);
		margin-top: 2rem;
		@include media (tab-land){
			margin-left: auto;
		}
	}
}